# Virtual environment
.venv/
venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Logs
logs/
*.log

# Large local media
static/videos/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
